.navBarWrapper {
    width: 100%;
    background: #003748;
    color:#fff;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
    .titleWrapper {
        flex-basis: 90%;
    }
    .title{
        margin: 5 0 0 0;
    }
    .addButtonWrapper {
        padding-top: 5;
        flex-basis: 20%;
        text-align: right;
        margin-right 15;
        .addButton {
        background: #dfedd6;
        color: grey;
        padding: 5 10;
        border-radius: 3px;
        }
    }

    .userInfo {
        flex-basis: 10%;
    }
    .userImage {
        width: 35px
        height: 35px;
        border-radius: 100%;
        border: 2px solid #fff;
    }
}
