
.banner {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  .coverImage {
    width: 50%;
    height: 70%;
    background: url('https://www.dropbox.com/s/xppryezl0koszz3/home-page.jpg?raw=1');
    background-size: cover;
    margin: 0 auto;
  }
}

.header{
  padding: rem-calc(5 15);
  .title {
    display: inline-block;
    padding: 0;
    margin: 0;
  }
  .loginWrapper{
        display: inline-block;
        float: right;
        margin-right: 10px;
        paddinf-top: 5px;
        .button{
            padding: 5px;
            background: #000;
            color: #fff;
            border-radius: 3px;
            box-shadow: 1px 2px 12px 0px rgba(0,0,0,0.60);
            cursor: pointer;
            text-decoration: none;
            margin-top: 20px;
        }
    }
}
