.dashboardWrapper {
	margin-top: 60px;
	display: flex;
	.listWrapper {
		margin-top: 50px;
		flex-basis: 20%;
		overflow: scroll;
		height: 100%;
		border-right: 2px solid #e0ebeb;
		.notebooksList {
			text-decoration: none;
			margin-left: 0;
		}
		.notebook {
			cursor: pointer;
			list-style: none;
			.notebookTitle {
				margin: 15px 0 5px 0;
			}
			.timestamp {
				color: grey;
				margin: 5px 0 5px 0;
			}
		}
	}
	.activeNoteBookWrapper {
		flex-basis: 80%;
		margin-top: 50px;
		padding: 10px 20px;
	}
}

.activeNotebookHeader {

}

.activeNotebookName {
	margin: 0;
	padding: 0;
}

:global(.ace_editor){
		width: 100% !important;
}
